<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="COM" value="COM8" />
        <add key="LockFreq" value="False" />
        <add key="LockGain" value="False" />
        <add key="EQFile1" value="F:\Upgrade_file\Bluetrum\D16\Settings\Resources\D16\eq\normal.eq" />
        <add key="EQFile2" value="F:\Upgrade_file\Bluetrum\D36\Settings\Resources\D36\eq\normal.eq" />
        <add key="EQFile3" value="F:\Upgrade_file\Bluetrum\D19\Settings\Resources\D36\normal.eq" />
        <add key="EQFile4" value="F:\Upgrade_file\Bluetrum\D19\Settings\Resources\D19\eq\normal.eq" />
        <add key="EQFile5" value="C:\Users\yfa1\Desktop\D31.eq" />
        <add key="EQFile6" value="" />
        <add key="EQFile7" value="" />
        <add key="EQFile8" value="" />
        <add key="EQFile9" value="" />
        <add key="EQFile10" value="" />
    </appSettings>
</configuration>