<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="DownFile" value="F:\Upgrade_file\Bluetrum\D33\app.dcf" />
        <add key="DownFile1" value="F:\Upgrade_file\Bluetrum\D33\app.dcf" />
        <add key="DownFile2" value="F:\Upgrade_file\Bluetrum\D19\app.dcf" />
        <add key="DownFile3" value="F:\Upgrade_file\Bluetrum\D85\app.dcf" />
        <add key="DownFile4" value="F:\Soft_sdk\AB53XX_SDK\app\projects\standard\Output\bin\app.dcf" />
        <add key="DownFile5" value="E:\Nr_input\因德尔（蓝牙）\SDK_AB53XX_V061_20190103\SDK_AB53XX_V061_20190103\app\projects\standard\Output\bin\app.dcf" />
        <add key="DownFile6" value="" />
        <add key="DownFile7" value="" />
        <add key="DownFile8" value="" />
        <add key="DownFile9" value="" />
        <add key="DownFile10" value="" />
        <add key="DownFile11" value="" />
        <add key="DownFile12" value="" />
        <add key="DownFile13" value="" />
        <add key="DownFile14" value="" />
        <add key="DownFile15" value="" />
        <add key="DownFile16" value="" />
        <add key="DownFile17" value="" />
        <add key="DownFile18" value="" />
        <add key="DownFile19" value="" />
        <add key="DownFile20" value="" />
        <add key="DownFile21" value="" />
        <add key="DownFile22" value="" />
        <add key="DownFile23" value="" />
        <add key="DownFile24" value="" />
        <add key="DownFile25" value="" />
        <add key="DownFile26" value="" />
        <add key="DownFile27" value="" />
        <add key="DownFile28" value="" />
        <add key="DownFile29" value="" />
        <add key="DownFile30" value="" />
        <add key="ConfigFile" value="D33_TWS" />
        <add key="ConfigEnable" value="True" />
        <add key="KeyEnable" value="False" />
        <add key="COM8" value="True" />
        <add key="COMEnable" value="True" />
        <add key="DebugMode" value="False" />
        <add key="StartDownMode" value="False" />
        <add key="AutoStart" value="True" />
    </appSettings>
</configuration>