<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="COM" value="COM8" />
        <add key="LockFreq" value="True" />
        <add key="LockGain" value="False" />
        <add key="EQFile1" value="F:\Soft_sdk\AB532X_SDK\app\projects\standard\Output\bin\Settings\Resources\D19\eq\normal.eq" />
        <add key="EQFile2" value="F:\Soft_sdk\AB532X_SDK\app\projects\standard\Output\bin\Settings\Resources\Undefined(1).eq" />
        <add key="EQFile3" value="" />
        <add key="EQFile4" value="" />
        <add key="EQFile5" value="" />
        <add key="EQFile6" value="" />
        <add key="EQFile7" value="" />
        <add key="EQFile8" value="" />
        <add key="EQFile9" value="" />
        <add key="EQFile10" value="" />
    </appSettings>
</configuration>